In [5]:
import pandas as pd
import numpy as np
import os

In [6]:
os.getcwd()

'/home/fedeotto/lpoolmat_llms/llmroost/assets'

In [8]:
df = pd.read_excel('../datasets/Termal_conductivity_300K.xlsx')
df.head()

,formula,composition,target,DOI
0,(BiS)1.2(TiS2)2,S10000Ti431Bi431,2.80,10.3390/ma3042606
1,"(Na,Ca)Co2O4",O10000Na2500Ca2500Co5000,2.00,10.1103/PhysRevB.61.12551
2,(PbS)1.2(TiS2)2,S10000Ti431Pb431,2.80,10.3390/ma3042606
3,(SnS)1.2(TiS2)2,S10000Ti431Sn431,2.40,10.3390/ma3042606
4,AgBiSe2,Se10000Ag5000Bi5000,0.63,10.1039/C2EE23391F

In [10]:
df = df[['formula','target']]

In [14]:
df = df.groupby('formula',sort=False).median().reset_index()

In [17]:
df = df.drop_duplicates(subset='formula')

In [18]:
df.to_excel('../datasets/Termal_conductivity_300K_processed.xlsx', index=False)

In [19]:
df

              formula  target
0     (BiS)1.2(TiS2)2    2.80
1        (Na,Ca)Co2O4    2.00
2     (PbS)1.2(TiS2)2    2.80
3     (SnS)1.2(TiS2)2    2.40
4             AgBiSe2    0.63
...               ...     ...
2098               Zr   23.10
2099              ZrC   13.30
2100              ZrN   21.80
2101     Bi1.2Ti2S5.2    2.76
2102   Pb1.18Ti2S5.18    2.80

[2103 rows x 2 columns]